html {
    background-color: #FFF;
    margin: 0;
    padding:0;
}

 body {
    
    background-color: #FFF;
    padding: 0;
    font-family: Arial;
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center;
    margin: 0 13%;
    float: unset;
    
}
 .modalDialog {
	position: fixed;
	font-family: Arial, Helvetica, sans-serif;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0,0,0,0.8);
	z-index: 99999;
	opacity:0;
	-webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;
	pointer-events: none;
}
 .modalDialog:target {
	opacity: 5;
	pointer-events: auto;
}

.modalDialog > div  {
	/*margin-right: auto;*/
    /*margin-left: auto;*/
    width: 400px;
	position: center;
	margin: 10% auto;
	padding: 5px 20px 13px 20px;
	border-radius: 10px;
	background: #fff;
	background: -moz-linear-gradient(#fff, #999);
	background: -webkit-linear-gradient(#fff, #999);
	background: -o-linear-gradient(#fff, #999);
}
.close {
	background: #606061;
	color: #FFFFFF;
	line-height: 25px;
	position: relative;
	margin-left: 100%;
	text-align: center;
	top: -10px;
	width: 24px;
	text-decoration: none;
	font-weight: bold;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
	-moz-box-shadow: 1px 1px 3px #000;
	-webkit-box-shadow: 1px 1px 3px #000;
	box-shadow: 1px 1px 3px #000;
}

.close:hover { background: #00d9ff; }

 header 
 {
     background-image: url('../images/banner.jpg');
     background-repeat:no-repeat;
     background-size: cover;
     margin: 0;
     padding: 0;
 }
 article{
     box-sizing:border-box;
     margin:0;
     width: 60%;
     padding: 30px;
     float:left;
      /*2% 51% 2% 10%;*/
 }
 aside {
     box-sizing:border-box;
     padding:30px;
     margin:0;
     width: 40%;
     float:right;
 }

/* Set padding to keep content from hitting the edges */
section {
    background-position:bottom;
    background-repeat:no-repeat;
    background-size: cover;
    padding:1px 0 150px 0;
    margin:0;
}

.clear {
    clear: both;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default*/ 
input,
select,
textarea {
    max-width: 280px;
}

.banner {
    text-align: center;
    margin-bottom: 0px;

}
footer {
    box-sizing:border-box;
    background-color:#797979;
    padding:25px;
    margin:0;
    color:#FFF;
}

a {
    color: white;
    text-decoration: none;
}

h2 {

    font-size: 20px;
    font-weight: bold;
}
p {
    font-size: 13px;
}
#home-wrapper-left {
    margin-right: 55%;
}

nav {
    /*position: relative;*/
    /*margin-top: -4px;*/
    margin-left: auto;
    margin-right: auto;
    width: auto;
    background-color: #FF7400;
    font-size: 20px;
    clear:both;

}
#nav1,#nav2,#nav3,#nav4 {
    margin: 0px;
    padding: 12px;
    /*padding-bottom: 6px;*/
    box-sizing: border-box;
    display: inline-block;
    text-align: center;
    font-weight: bold;
    width: 19%;
    color: white;
    border-right: 1px solid black;
    
}

#nav5 {
    display: inline-block;
    width: 19%;
    text-align: center;
    font-weight: bold;
}