/html {
    background-color: #E8E8E8;
}

 body {
    
    background-color: #FFF;
    padding: 0;
    font-family: Arial;
    background-repeat: no-repeat;
    background-size: auto;
    background-position: center;
    margin: 0 13%;
    float: unset;
    
}
 header 
 {
     overflow: hidden;
     background-image: url('../images/banner.jpg');
     margin : 0;
 }
 article{
     margin-top: -17px;
     width: 70%;
     padding-left: 10%;
      /*2% 51% 2% 10%;*/
 }
 aside {
     width: 30%
 }

/* Set padding to keep content from hitting the edges */
section {
    

}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default*/ 
input,
select,
textarea {
    max-width: 280px;
}

.banner {
    text-align: center;
    margin-bottom: 0px;

}
footer {
    margin-bottom: 100px;

}

a {
    color: white;
    text-decoration: none;
}

h2 {

    font-size: 20px;
    font-weight: bold;
}
p {
    font-size: 13px;
}
#home-wrapper-left {
    margin-right: 55%;
}

nav {
    position: relative;
    margin-top: -4px;
    margin-left: auto;
    margin-right: auto;
    width: auto;
    background-color: #FF7400;
    font-size: 20px;
    

}
#nav1,#nav2,#nav3,#nav4 {
    margin-top: 0px;
    padding-top: 12px;
    padding-bottom: 6px;
    display: inline-block;
    width:16.66%;
    text-align: center;
    font-weight: bold;
    width: 19%;
    color: white;
    border-right-style: solid;
    border-right-color: black;
    border-right-width: 1px;
    
}

#nav5 {
    display: inline-block;
    width: 19%;
    text-align: center;
    font-weight: bold;
}