@using IHFF.Models
@{
    ViewBag.Title = "Agenda";
}
<section style="background-image: url('@Url.Content("~/images/background.jpg")'); background-size:contain; background-color:#f5f5f5">
    <article style="text-align:center">
            @foreach (Product p in ViewBag.Agendalist)
            {
                if (ViewBag.Day != p.Dag)
                {
                    <h2>@p.Dag</h2>
                }
                <hr />
                <p>@Html.ActionLink(p.Naam, "productinfo", "Activity", new { id = p.ID }, null)</p>
                <p>@p.Beschrijving</p>
                ViewBag.Day = p.Dag;
            }
        </article>
    <div class="clear"></div>
</section>



