@using IHFF.Models
@{
    ViewBag.Title = "RestaurantAgenda";
}
<section style="background-image: url('@Url.Content("~/images/background.jpg")'); background-size:contain; background-color:#F2F2F2; text-align:center">
    <h2>RestaurantAgenda</h2>
    <article style="width: 100%; padding-left: 0; padding-right: 0; padding-top: 0;">
       @foreach (Restaurant r in ViewBag.RestaurantList)
       {           
            <p>@Html.ActionLink(r.Naam, "RestaurantInfo", "Activity", new { id = r.ID }, null)</p>           
       }
    </article>
    <div class="clear"></div>
</section>