@using IHFF.Models
@model IHFF.Models.WishlistModel
@{
    ViewBag.Title = "Wishlist";
}
<h2>Wishlist</h2>
<h3>Wishlist Ophalen</h3>

@using (Html.BeginForm())
{
    @Html.TextBoxFor(m => m.code)
    //@Html.TextBox("SearchWishlist")
    <input type="submit" value="Search" />

    //TODO: add controller. Add database-search query, add variables to view
    /*
    Voor het showen van de wishlist
    Misschien in een partial view?
    @foreach (var Wishlistitem in Model)
    {
        <p>@Wishlistitem.product | @Wishlistitem.aantal | @Html.ActionLink("Delete", "DeleteItem", new { Wishlistitemid = Wishlistitem.WishlistitemId})<p>
    }
    */
}
