@using IHFF.Models
@model WishList


@{
    ViewBag.Title = "Wishlist";
}
<section style="background-color:#F2F2F2; padding-left:20vw; padding-right:10vw;">
    <section>
    <p style="float:left;">Om uw Eigen Agenda later aan te kunnen<br />passen heeft u de onderstaande code nodig.<br /><b>Onthoud deze code goed!</b><br /><br />
    Code van de Eigen Agenda:  <b>@Model.wishListCode</b></p>
    <section style="float:right;margin-right:10vw;padding-bottom:0;"><h3>Wishlist Ophalen <br /></h3>

    @using (Html.BeginForm())
    {
        @Html.TextBoxFor(m => m.wishListCode)
        <input type="submit" value="Search" />
    }
    </section>
</section>
    <section style="margin-right:10vw;margin-left:4vw;">
    <div style="background-color:#ff7400;color:white;text-align:center;min-height:7vh;float:left;min-width:8vw;line-height:273%;margin-right:1vw;border:1px solid black;"><h4>Wishlist leegmaken</h4></div>
    <div style="background-color:#ff7400;color:white;text-align:center;min-height:7vh;float:left;min-width:8vw;line-height:273%;margin-right:1vw;margin-left:1vw;border:1px solid black;"><h4>Wishlist opslaan</h4></div>
    <div style="background-color:#ff7400;color:white;text-align:center;min-height:7vh;float:left;min-width:8vw;line-height:273%;margin-left:1vw;border:1px solid black;"><h4>Wishlist betalen</h4></div>
    </section>
    <div style="clear:both;"></div>
    <section style="height:auto; padding:0;">
    <h1 style="float:left; width:5vw; margin-right:3vw;">Woensdag 23/4</h1>
    <section style="width:20vw;float:left;border-left:1px solid black;height:100%;border-right:1px solid black;padding:0,2vw;"><p style="padding-left:2vw;">
    @foreach (WishlistItem i in Model.itemList)
    {
        if (i.item.Dag == "woensdag")
        {
        <p><b>&nbsp;&nbsp;&nbsp;@i.item.tijd.ToString("HH:mm")&nbsp;&nbsp;@i.item.Naam<br />&nbsp;&nbsp;&nbsp;@i.Aantal maal</b></p>
        <p style="text-align:right;padding:0,1vw,0,1vw"><b>€@i.item.Prijs &nbsp;&nbsp;&nbsp;</b></p>
        <br />
        }
    }
        </p></section>
    </section>
    <div style="clear:both;"></div>
    <section style="height:auto; padding:0;">
        <h1 style="float:left; width:5vw; margin-right:3vw;">Donderdag 24/4</h1>
        <section style="width:20vw;float:left;border-left:1px solid black;height:100%;border-right:1px solid black"><p style="padding-left:2vw;">
    @foreach (WishlistItem i in Model.itemList)
    {
        if (i.item.Dag == "donderdag")
        {
        <p><b>&nbsp;&nbsp;&nbsp;@i.item.tijd.ToString("HH:mm")&nbsp;&nbsp;@i.item.Naam<br />&nbsp;&nbsp;&nbsp;@i.Aantal maal</b></p>
        <p style="text-align:right;padding:0,1vw,0,1vw"><b>€@i.item.Prijs &nbsp;&nbsp;&nbsp;</b></p>
        <br />
        }
    }</p></section>
    </section>
    <div style="clear:both;"></div>
    <section style="height:auto; padding:0;">
        <h1 style="float:left; width:5vw; margin-right:3vw;">Vrijdag 25/4</h1>
        <section style="width:20vw;float:left;border-left:1px solid black;height:100%;border-right:1px solid black"><p style="padding-left:2vw;">
    @foreach (WishlistItem i in Model.itemList)
    {
        if (i.item.Dag == "vrijdag")
        {
        <p><b>&nbsp;&nbsp;&nbsp;@i.item.tijd.ToString("HH:mm")&nbsp;&nbsp;@i.item.Naam<br />&nbsp;&nbsp;&nbsp;@i.Aantal maal</b></p>
        <p style="text-align:right;padding:0,1vw,0,1vw"><b>€@i.item.Prijs &nbsp;&nbsp;&nbsp;</b></p>
        <br />
        }
    }</p></section>
    </section>
    <div style="clear:both;"></div>

</section>
