@using IHFF.Models
@model WishList
@{
    ViewBag.Title = "Betaal pagina";
}

<h2>Betaal pagina</h2>

@foreach (WishlistItem wli in Model.itemList)
{
    
    
    Model.TotaalPrijs += ((float)wli.item.Prijs * wli.Aantal);
    <p>@wli.Aantal x)&nbsp;&nbsp;&nbsp;@wli.item.Naam &nbsp;&nbsp;&nbsp;€@(wli.item.Prijs * wli.Aantal)</p>
    
}

<p>Totaalprijs: €@Model.TotaalPrijs</p>
@using (Html.BeginForm("payWishlist", "wishlist"))
{<button>Betalen</button>}

